*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*No hyper link styling*/
a{
    text-decoration: none;
    color: white;
}

/*---Nav bar---*/
header{
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: rgb(32, 32, 32);
    font-size: large;
}

.actionButtons{
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: rgb(32, 32, 32);
    font-size: large;
}

.basket{
    margin-right: 2%;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: large;
}

.logout{
    margin-right: 2%;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: large;
}

.basket:hover{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logout:hover{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navcomp{
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background: none;
}

.navcomp ul{
    list-style: none;
}

.navcomp li{
    display: inline;
    padding: 7px;
    border-radius: 5px;
}

li:hover{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*---Website content---*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(32, 32, 32);
    min-height: 100vh;
    color: rgb(32, 32, 32);
}

.glass{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.6);
    min-height: 80vh;
    min-width: 100vh;
    border-radius: 5%;
}

/*---User information column---*/
.personalinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    min-height: 50vh;
}

.infolist{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 20vh;
    font-weight: bold;
}

.update:hover{
    color: rgb(32, 32, 32);
    transition: all 0.3s ease 0s;
}

/*---Order card layout---*/
.recentorders{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 70vh;
}

.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60vh;
    padding: 20px;
    border-radius: 5%;
    color: white;
    background: rgb(32, 32, 32);
}